/**
 * Created by jeff on 2017/3/4.
 */

#game_screen {
  #board {
    $sizeSquare: 50px;
    $colorBorder: blue;
    $colorSquare: black;
    $colorRevealed: white;
    $colorFlagged: yellow;
    $colorBombed: #c70000;
    $colorBombMissed: red;
    $colorNumed: gray;
    $colorFlagCorrect: green;
    $colorFlagWrong: yellow;

    border-top: 1px solid $colorBorder;
    border-left: 1px solid $colorBorder;

    .square {
      width: $sizeSquare;
      height: $sizeSquare;
      font-size: $sizeSquare*0.6;
      color: $colorSquare;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;;

      white-space: nowrap;

      margin: 0;

      background-color: $colorSquare;
      border-right: 1px solid $colorBorder;
      border-bottom: 1px solid $colorBorder;

      padding: 1px;

      display: inline-block;
      box-sizing: border-box;
      text-align: center;
    }

    .revealed {
      background-color: $colorRevealed;
      color: $colorRevealed;
    }

    .flagged {
      background-color: $colorFlagged;
      color: $colorFlagged;
    }

    .bombed {
      background-color: $colorBombed;
    }

    .bomb_missed {
      background-color: $colorBombMissed;
    }

    .numed {
      background-color: $colorNumed;
    }

    .flag_correct {
      background-color: $colorFlagCorrect;
    }

    .flag_wrong {
      background-color: $colorFlagWrong;
    }
  }
}